<html>
	<head></head>
	<link rel="stylesheet" href="bootstrap-5.2.1-dist\css\bootstrap.min.css">
	
		
	<body>
		<form method="post" action="http://localhost:8000/api/employees/">
		<div class="container w-50 mt-5" >
		<h2 class="text-danger">Add New Employee</h2>
		<div class="form-group">
			
			<label>Employee Name</label>
			<input type="text" name="emp_name" class="form-control">
		</div>
			
			
		<div class="form-group">
			<label>Age</label>
			<input type="number" name="emp_age" class="form-control">
		</div>
			
			<div class="form-group">
			<label>City</label>
			<input type="text" name="emp_city" class="form-control">
			
			</div>
			
			
			
			<div class="form-group">
			<label>Salary</label>
			<input type="text" name="emp_salary" class="form-control">
			
			</div>
			<div class="form-group">
			<label></label>
			<td><input type="submit" class="btn btn-danger" value="add employee" ></td>
			
			</div>
		</div>
	</form>
	</body>

</html>